@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../fonts/ProximaNovaT-Thin.eot");
    src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
